@import '/src/variables.scss';


.add-task-modal {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    background: $white;
    height: fit-content;
    width: 350px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    h1 {
       font-size: $navFont; 
       margin-bottom: 2.5rem;
       align-self: flex-start;
       margin-left: 2.7rem;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 10px;
        label, legend {
            font-size: $subtaskFont;
            font-weight: $FW600;
            color: $mediumGray;
        }
        input {
           border-radius: 4px;
           border: 1px solid rgba(130, 143, 163, 0.25);
           height: 30px; 
           padding-left: 10px;
           font-weight: $FW500;
           font-size: $subtaskFont;
           font-family: $mainFont;
        }
        textarea {
           border-radius: 4px;
           border: 1px solid rgba(130, 143, 163, 0.25);
           height: 90px; 
           padding: 5px 10px 5px 10px;
           font-weight: $FW500;
           font-size: $subtaskFont;
           font-family: $mainFont;
        }
        fieldset {
            border: none;
            min-width: 0;
            margin: 0;
            padding: 0;
            button{
                margin-top: 5px;
                width: 100%;
            }
            div{
                display: flex;
                margin-top: 10px;
                input {
                    width: 100vw;
                }
                button {
                    background: none;
                    width: 30px;
                    margin-left: 5px;
                }

        }
        }
        .status-label {
            margin-top: 1.2rem;
        }
        button {
            border: none;
            border-radius: 20px;
            height: 36px;
            font-size: $subtaskFont;
            font-weight: $FW600;
        }
        .add-column-btn{
            background: rgba(99, 95, 199, 0.1);
            color: $purple;
        }
        .submit-task-btn {
            background: $purple;
            color: $white;
            margin-top: 1.2rem;
        }
        select {
            height: 30px;
            border-radius: 4px;
            border: 1px solid rgba(130, 143, 163, 0.25);
            font-family: $mainFont;
            padding-left: 10px;
         }
    }
}
