
@import '/src/variables.scss';


.sidebar-container {
    padding-top: 2.5rem;
    background-color: $white;
    flex-direction: column;
    height: 100vh;
    width: 227px;  
    border-right:1px solid  #E4EBFA; ;
        h3{
            padding-left: 1.5rem;
            font-weight: $FW600;
            color: $mediumGray;
            font-size: $taskFont;
            margin-top: 0;
        }
        .icon-links-container-focused {
            display: flex;
            align-items: center;
            color: $white;
            background-color: $purple;
            gap: 1rem;
            width: 85%;
            height: 45px;
            border-radius: 0px 100px 100px 0px;
            padding-left: 1.5rem;
            margin-bottom: 1rem;
                img {
                    height: 16px;
                }
                button {
                    border: none;
                    background: none;
                    font-weight: $FW600;
                    color: $white;
                    font-size: $taskFont;
                    text-align: left;
                }
            }
            .icon-links-container{
                cursor: pointer;
                height: 45px;
                display: flex;
                align-items: center;
                gap: 1rem;
                padding-left: 1.5rem;
                margin-bottom: 1rem;
                button {
                    text-align: left;
                    border: none;
                    background: none;
                    background-color: $white;
                    font-weight: $FW600;
                    color: $mediumGray;
                    font-size: $taskFont;
                }
            }
            .create-board-container {
                height: 45px;
                display: flex;
                align-items: center;
                padding-left: 1.5rem;
                gap: 10px;
                button{
                    cursor: pointer;
                    padding: 0;
                    font-weight: $FW600;
                color: $purple;
                font-size: $taskFont;
                padding-bottom: 5px;
                background: none;
                border: none;
                }
            }
}