


.App-disabled {
  overflow: hidden;
}

.App-disabled:before {
  content: "";
  position: fixed;
  z-index: 1;
  min-height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0, .5);
  pointer-events: none;
}

.App {
    height: 100%!important;
  
}


