@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');



$mainFont: 'Montserrat', sans-serif;


// font size

$subtaskFont: 1.4rem;
$taskFont: 1.6rem;
$navFont: 1.8rem;
$headerFontSize: 2.2rem;


// font weight
$FW200: 200;
$FW300: 300;
$FW400: 400;
$FW500: 500;
$FW600: 600;
$FW700: 700;

// colors

$mediumGray: #646f7e;
$darkGray: #2B2C37;
$lightGray: #F4F7FD;
$black: #000112;
$white: #FFFFFF;
$purple: #635FC7;
$purpleHover: #A8A4FF;
$red: #EA5555;
$redHover: #FF9898;